
img{
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    max-height: 284px;
}

.readmore-btn{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' -25,
      'opsz' 10
  }

  .read_btn {
   
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .read_btn:hover {
    background-color: #ccc;
  }
  .desc-marg{
    margin-top: 0;
    word-wrap: break-word;
  }

  .preview-ht{
    min-height: 526px;
  }